obj/
main
.DS_Store
build/
.vscode/
out/
*.so
*.dll
*.exe
*.pyd
*.o
*.a
*.unity
*.csproj
*.sln
*.FBX
*.meta
*.prefab
*.mat
*.TTF
*.pdf
*.png
*.tga
boardgamepack/
Sprites/
Gizmos/
Fonts/
Cinemachine/
Materials/
Prefabs/
Scenes/
Photon/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
Debug/
Release/
.vs/
__pycache__